{% extends "index_head.html"%}
{%block head_set%}
    <title>天天生鲜-用户中心</title>
    <script>
    $(function () {
        var person = false;
        var addr = false;
        var tele = false;
        $('#recv_person').blur(function() {
            check_person_empty();
        });
        $('#recv_addr').blur(function () {
            check_addr_empty();
        });
        $('#recv_tele').blur(function () {
            check_tele_empty();
        });
{#        判断收件人是否为空#}
        function check_person_empty() {
            if($('#recv_person').val().length == 0){
                person = false;
            }
            else{
                person = true;
            }
        }
{#        判断地址是否为空#}
        function check_addr_empty() {
            if($('#recv_addr').length == 0){
                addr = false;
            }
            else{
                addr = true;
            }
        }
{#        判断电话是否为空#}
        function check_tele_empty() {
            if($('#recv_tele').val().length == 0){
                tele = false;
            }
            else{
                tele = true;
            }
        }

        if("{{ recv_address }}" && "{{ addrinfo.person }}" && "{{ addrinfo.tel }}" && "{{ addrinfo.youbian }}"){
            $('#recv_person').val("{{ addrinfo.person }}");
            $('#recv_addr').val("{{ addrinfo.addr }}");
            $('#youbian').val("{{ addrinfo.youbian }}");
            $('#recv_tele').val("{{ addrinfo.tel }}");
            person = true;
            addr = true;
            tele = true;
        }
{#      收件人，地址，电话都不为空时，才能提交#}
        $('#can_click').submit(function () {
            return (person==true && addr==true && tele==true);
        })
    })
    </script>
{%endblock head_set%}

{%block list_right%}
    <div class="right_content clearfix">
        <h3 class="common_title2">收货地址</h3>
        <div class="site_con">
            <dl>
                <dt>当前地址：</dt>
                <dd> {{ addrinfo.addr }} （{{ addrinfo.person }} 收） {{ addrinfo.tel }}</dd>
            </dl>
        </div>
        <h3 class="common_title2">编辑地址</h3>
        <div class="site_con">
            <form action="/user/get_site/" method="post" id="can_click">
                {%csrf_token%}
                <div class="form_group">
                    <label>收件人：</label>
                    <input type="text" id="recv_person" name="recv_people" value="{{ addrinfo.person }}">
                </div>
                <div class="form_group form_group2">
                    <label>详细地址：</label>
                    <textarea class="site_area" id="recv_addr" name="recv_address">{{ addrinfo.addr }}</textarea>
                </div>
                <div class="form_group">
                    <label>邮编：</label>
                    <input type="text" id="youbian" name="youbian" value="{{ addrinfo.youbian }}">
                </div>
                <div class="form_group">
                    <label>手机：</label>
                    <input type="text" id="recv_tele" name="telephone" value="{{ addrinfo.tel }}">
                </div>

                <input type="submit" name="" value="提交" class="info_submit">
            </form>
        </div>
    </div>
{%endblock list_right%}
