{% extends "index_head.html"%}
{%block head_set%}
    <title>天天生鲜-用户中心</title>
    <script>
    $(function () {
        var person = true;
        var addr = true;
        var tele = true;
        var flag = false;
{#        判断一开始页面内是否有内容#}
        if ('{{ addrinfo|default:'' }}' !== ''){
            flag = true;
        }
{#        判断收件人是否为空#}
        $('#recv_person').blur(function() {
            person = $('#recv_person').val().length !== 0;
        });
{#        判断地址是否为空#}
        $('#recv_addr').blur(function () {
            addr = $('#recv_addr').val().length !== 0;
        });
{#        判断电话是否为空#}
        $('#recv_tele').blur(function () {
            tele = $('#recv_tele').val().length !== 0;
        });

{#      收件人，地址，电话都不为空时，才能提交#}
        $('#can_click').submit(function () {
            return (person===true && addr===true && tele===true && flag===true);
        })
    })
    </script>
{%endblock head_set%}

{%block list_right%}
    <div class="right_content clearfix">
        <h3 class="common_title2">收货地址</h3>
        <div class="site_con">
            <dl>
                <dt>当前地址：</dt>
                <dd> {{ addrinfo.addr }} （{{ addrinfo.person }} 收） {{ addrinfo.tel }}</dd>
            </dl>
        </div>
        <h3 class="common_title2">编辑地址</h3>
        <div class="site_con">
            <form action="/user/get_site/" method="post" id="can_click">
                {%csrf_token%}
                <div class="form_group">
                    <label>收件人：</label>
                    <input type="text" id="recv_person" name="recv_people" value="{{ addrinfo.person }}">
                </div>
                <div class="form_group form_group2">
                    <label>详细地址：</label>
                    <textarea class="site_area" id="recv_addr" name="recv_address">{{ addrinfo.addr }}</textarea>
                </div>
                <div class="form_group">
                    <label>邮编：</label>
                    <input type="text" id="youbian" name="youbian" value="{{ addrinfo.youbian }}">
                </div>
                <div class="form_group">
                    <label>手机：</label>
                    <input type="text" id="recv_tele" name="telephone" value="{{ addrinfo.tel }}">
                </div>

                <input type="submit" name="" value="提交" class="info_submit">
            </form>
        </div>
    </div>
{%endblock list_right%}
